<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Nested Reactive Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="userProfileForm" novalidate (ngSubmit)="userProfileFormSubmit()">
        <ion-list>
          <ion-item-divider color="primary">User Profile Info</ion-item-divider>
          <br>
          <ion-item-divider color="light">
            <ion-label>
              General
            </ion-label>
          </ion-item-divider>
          <ion-item [class.has-error]="userProfileForm.get('name').hasError('required') && userProfileForm.get('name').touched">
              <ion-label position="floating">Name *</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userProfileForm.get('name').hasError('required') && userProfileForm.get('name').touched">
              <div class="error-message">
                  This field is required.
              </div>
          </ion-item>
          <br>
          <ion-item-divider color="light">
            <ion-label>
              Adresses
            </ion-label>
            <ion-button slot="end" color="primary" fill="clear" (click)="addAddress()">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-item-divider>
          <div formArrayName="addresses">
            <div *ngFor="let address of userProfileForm.controls['addresses'].controls; let i=index">
              <ion-card>
                <ion-card-content>
                  <ion-item-divider>
                    <ion-label>
                      Address {{i + 1}}
                    </ion-label>
                    <ion-button slot="end" color="danger" fill="clear" (click)="removeAddress(i)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                  </ion-item-divider>
                  <div [formGroupName]="i">
                    <ion-item [class.has-error]="getStreet(i).hasError('required') && getStreet(i).touched">
                      <ion-label position="floating">Street *</ion-label>
                      <ion-input type="text" formControlName="street"></ion-input>
                    </ion-item>
                    <ion-item lines="none" *ngIf="getStreet(i).hasError('required') && getStreet(i).touched">
                      <div class="error-message">
                          This field is required.
                      </div>
                    </ion-item>
                    <div formArrayName="phonenumber">
                      <div *ngFor="let number of userProfileForm.controls['addresses'].controls[i].controls.phonenumber.controls; let j=index">
                        <div [formGroupName]="j">
                        <ion-item [class.has-error]="getNumber(i, j).hasError('required') && getNumber(i, j).touched">
                            <ion-label position="floating">Number *</ion-label>
                            <ion-input type="number" formControlName="number"></ion-input>
                            <ion-button slot="end" color="danger" fill="clear" (click)="removeNumber(address, j)">
                                <ion-icon slot="icon-only" name="close"></ion-icon>
                            </ion-button>
                        </ion-item>
                        <ion-item lines="none" *ngIf="getNumber(i, j).hasError('required') && getNumber(i, j).touched">
                          <div class="error-message">
                              This field is required.
                          </div>
                        </ion-item>
                      </div>
                      </div>
                    </div>
                  </div>
                  <ion-item lines="none">
                    <ion-button slot="end" color="primary" fill="clear" (click)="addNumber(address)">
                      Add alternate number
                      <ion-icon name="add-circle-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-list>
        <ion-row no-padding justify-content-center>
            <ion-col col-auto text-right>
              <ion-button [disabled]='!userProfileForm.valid' type="submit" fill="clear" size="small" color="primary">
              <ion-icon name='send' slot="start"></ion-icon>
              Send
              </ion-button>
            </ion-col>
        </ion-row>
        <pre>form value: <br>{{userProfileForm.getRawValue() | json}}</pre>
        <pre>form valid: <br>{{userProfileForm.valid | json}}</pre>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
      <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
      <ion-buttons slot="end">
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach%2Fionic-nested-reactive-form&amp;title=&amp;aria-label=Star%20abritopach%2Fionic-nested-reactive-form%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star" style="width: 50px; height: 20px; border: none; padding-right: 5px"></iframe></div>
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach&amp;title=&amp;aria-label=Follow%20%40abritopach%20on%20GitHub&amp;data-text=GitHub" style="width: 67px; height: 20px; border: none;"></iframe></div>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
